In [2]:
import pandas as pd
import numpy as np

# Filter all warnings. If you would like to see the warnings, please comment the two lines below.
import warnings
warnings.filterwarnings('ignore')

def answer_one():
    #Energy
    Energy = pd.read_excel("assets/Energy Indicators.xls", header = None, footer = None)
    Energy = Energy[18:245].drop([0,1],axis=1)
    Energy.dropna(inplace=True)
    Energy.replace('...',np.nan,inplace=True)
    Energy.columns = ['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable']
    Energy['Energy Supply'] = Energy['Energy Supply'].apply(lambda x: x*1000000)
    Energy.Country = Energy.Country.str.replace('\d+', '')  #erase numbers
    Energy.Country = Energy.Country.str.replace(' \(.*\)','') #erase '(...)'
    rename_countries_Energy={'Republic of Korea': 'South Korea',
                             'United States of America': 'United States',
                             'United Kingdom of Great Britain and Northern Ireland':'United Kingdom',
                             'China, Hong Kong Special Administrative Region':'Hong Kong'}
    Energy.replace(rename_countries_Energy,inplace=True)
    
    #GDP
    GDP = pd.read_csv("assets/world_bank.csv", skiprows = 4)
    rename_countries_GDP={"Korea, Rep.": "South Korea",
                          "Iran, Islamic Rep.": "Iran",
                          "Hong Kong SAR, China": "Hong Kong"}
    GDP.replace(rename_countries_GDP,inplace=True)

    GDP.rename(columns={'Country Name':'Country'},inplace=True)
    GDP=GDP.iloc[: ,np.r_[0,-10:-0]]
    
    #ScimEn
    ScimEn = pd.read_excel('assets/scimagojr-3.xlsx')
    ScimEn.insert(0, 'Country', ScimEn.pop('Country'))
        
    #Merge
    Energy_GDP_Merge=pd.merge(Energy,GDP,how='inner', on='Country')
    df=pd.merge(ScimEn,Energy_GDP_Merge,how='inner', on='Country').set_index('Country')
    df=df[:15]
    return df

In [91]:
import pandas as pd
import numpy as np

# Filter all warnings. If you would like to see the warnings, please comment the two lines below.
import warnings
warnings.filterwarnings('ignore')

def answer_two():
    #Energy
    Energy = pd.read_excel("assets/Energy Indicators.xls", header = None, footer = None)
    Energy = Energy[18:245].drop([0,1],axis=1)
    Energy.dropna(inplace=True)
    Energy.replace('...',np.nan,inplace=True)
    Energy.columns = ['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable']
    Energy['Energy Supply'] = Energy['Energy Supply'].apply(lambda x: x*1000000)
    Energy.Country = Energy.Country.str.replace('\d+', '')  #erase numbers
    Energy.Country = Energy.Country.str.replace(' \(.*\)','') #erase '(...)'
    rename_countries_Energy={'Republic of Korea': 'South Korea',
                             'United States of America': 'United States',
                             'United Kingdom of Great Britain and Northern Ireland':'United Kingdom',
                             'China, Hong Kong Special Administrative Region':'Hong Kong'}
    Energy.replace(rename_countries_Energy,inplace=True)
    
    #GDP
    GDP = pd.read_csv("assets/world_bank.csv", skiprows = 4)
    rename_countries_GDP={"Korea, Rep.": "South Korea",
                          "Iran, Islamic Rep.": "Iran",
                          "Hong Kong SAR, China": "Hong Kong"}
    GDP.replace(rename_countries_GDP,inplace=True)

    GDP.rename(columns={'Country Name':'Country'},inplace=True)
    GDP=GDP.iloc[: ,np.r_[0,-10:-0]]
    
    #ScimEn
    ScimEn = pd.read_excel('assets/scimagojr-3.xlsx')
    ScimEn.insert(0, 'Country', ScimEn.pop('Country'))
        
    #Merge
    df1 = pd.merge(GDP, Energy, how='outer', on='Country') 
    df11 = pd.merge(df1, ScimEn, how='outer', on='Country')
    outer_shape = df11.shape
    
    df2 = pd.merge(GDP, Energy, how='inner', on='Country') 
    df22 = pd.merge(df2, ScimEn, how='inner', on='Country')
    inner_shape = df22.shape
    return outer_shape[0]-inner_shape[0]
answer_two()

156

In [3]:
def answer_three():
    df=answer_one()
    df_answer_three=df[['2006','2007','2008','2009','2010','2011','2012','2013','2014','2015']]
    avgGDP=df_answer_three.mean(axis=1)
    return avgGDP.sort_values(ascending=False)

In [4]:
def answer_four():
    df = (answer_one().loc[answer_three().index.tolist()[5]].loc[['2006', '2015']])
    return df['2015']-df['2006']

In [7]:
answer_one()['Energy Supply per Capita'].mean()

157.6

In [23]:
result = np.max(answer_one()['% Renewable'])
country = (answer_one()[answer_one()['% Renewable'] == result].index.tolist()[0])

'Brazil'

In [24]:
country = (answer_one()[answer_one()['% Renewable'] == result].index.tolist()[0])

(answer_one().loc[answer_one().index.tolist()[1]],np.max(answer_one()['% Renewable']))

(Rank                        2.000000e+00
 Documents                   9.666100e+04
 Citable documents           9.474700e+04
 Citations                   7.922740e+05
 Self-citations              2.654360e+05
 Citations per document      8.200000e+00
 H index                     2.300000e+02
 Energy Supply               9.083800e+10
 Energy Supply per Capita    2.860000e+02
 % Renewable                 1.157098e+01
 2006                        1.479230e+13
 2007                        1.505540e+13
 2008                        1.501149e+13
 2009                        1.459484e+13
 2010                        1.496437e+13
 2011                        1.520402e+13
 2012                        1.554216e+13
 2013                        1.577367e+13
 2014                        1.615662e+13
 2015                        1.654857e+13
 Name: United States, dtype: float64, 69.64803)

In [26]:
def answer_six():
    # YOUR CODE HERE
    result = np.max(answer_one()['% Renewable'])
    country =answer_one()[answer_one()['% Renewable'] == result].index.tolist()[0] 
    return (country,result)
answer_six()

('Brazil', 69.64803)

In [62]:
def answer_seven():
    # YOUR CODE HERE
    lst= answer_one()
    lst['SC/TC'] = lst['Self-citations']/lst['Citations'] 
    result = np.max(lst['SC/TC'])
    country = lst[lst['SC/TC'] == result].index.tolist()[0] 
    return (country,result)
answer_seven()

('China', 0.6893126179389422)

In [81]:
def answer_eight():
    # YOUR CODE HERE
    lst= answer_one()
    lst['Population'] = lst['Energy Supply']/lst['Energy Supply per Capita'] 
    result = lst['Population'].sort_values(ascending=False)
    country = lst[lst['Population'] == result[2]].index.tolist()[0] 
    return country
answer_eight()

('United States', 317615384.61538464)

In [82]:
answer_one()

,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per Capita,% Renewable,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
Country,,,,,,,,,,,,,,,,,,,,
China,1,127050,126767,597237,411683,4.70,138,1.271910e+11,93.0,19.754910,3.992331e+12,4.559041e+12,4.997775e+12,5.459247e+12,6.039659e+12,6.612490e+12,7.124978e+12,7.672448e+12,8.230121e+12,8.797999e+12
United States,2,96661,94747,792274,265436,8.20,230,9.083800e+10,286.0,11.570980,1.479230e+13,1.505540e+13,1.501149e+13,1.459484e+13,1.496437e+13,1.520402e+13,1.554216e+13,1.577367e+13,1.615662e+13,1.654857e+13
Japan,3,30504,30287,223024,61554,7.31,134,1.898400e+10,149.0,10.232820,5.496542e+12,5.617036e+12,5.558527e+12,5.251308e+12,5.498718e+12,5.473738e+12,5.569102e+12,5.644659e+12,5.642884e+12,5.669563e+12
United Kingdom,4,20944,20357,206091,37874,9.84,139,7.920000e+09,124.0,10.600470,2.419631e+12,2.482203e+12,2.470614e+12,2.367048e+12,2.403504e+12,2.450911e+12,2.479809e+12,2.533370e+12,2.605643e+12,2.666333e+12
Russian Federation,5,18534,18301,34266,12422,1.85,57,3.070900e+10,214.0,17.288680,1.385793e+12,1.504071e+12,1.583004e+12,1.459199e+12,1.524917e+12,1.589943e+12,1.645876e+12,1.666934e+12,1.678709e+12,1.616149e+12
Canada,6,17899,17620,215003,40930,12.01,149,1.043100e+10,296.0,61.945430,1.564469e+12,1.596740e+12,1.612713e+12,1.565145e+12,1.613406e+12,1.664087e+12,1.693133e+12,1.730688e+12,1.773486e+12,1.792609e+12
Germany,7,17027,16831,140566,27426,8.26,126,1.326100e+10,165.0,17.901530,3.332891e+12,3.441561e+12,3.478809e+12,3.283340e+12,3.417298e+12,3.542371e+12,3.556724e+12,3.567317e+12,3.624386e+12,3.685556e+12
India,8,15005,14841,128763,37209,8.58,115,3.319500e+10,26.0,14.969080,1.265894e+12,1.374865e+12,1.428361e+12,1.549483e+12,1.708459e+12,1.821872e+12,1.924235e+12,2.051982e+12,2.200617e+12,2.367206e+12
France,9,13153,12973,130632,28601,9.93,114,1.059700e+10,166.0,17.020280,2.607840e+12,2.669424e+12,2.674637e+12,2.595967e+12,2.646995e+12,2.702032e+12,2.706968e+12,2.722567e+12,2.729632e+12,2.761185e+12
South Korea,10,11983,11923,114675,22595,9.57,104,1.100700e+10,221.0,2.279353,9.410199e+11,9.924316e+11,1.020510e+12,1.027730e+12,1.094499e+12,1.134796e+12,1.160809e+12,1.194429e+12,1.234340e+12,1.266580e+12
Italy,11,10964,10794,111850,26661,10.20,106,6.530000e+09,109.0,33.667230,2.202170e+12,2.234627e+12,2.211154e+12,2.089938e+12,2.125185e+12,2.137439e+12,2.077184e+12,2.040871e+12,2.033868e+12,2.049316e+12
Spain,12,9428,9330,123336,23964,13.08,115,4.923000e+09,106.0,37.968590,1.414823e+12,1.468146e+12,1.484530e+12,1.431475e+12,1.431673e+12,1.417355e+12,1.380216e+12,1.357139e+12,1.375605e+12,1.419821e+12
Iran,13,8896,8819,57470,19125,6.46,72,9.172000e+09,119.0,5.707721,3.895523e+11,4.250646e+11,4.289909e+11,4.389208e+11,4.677902e+11,4.853309e+11,4.532569e+11,4.445926e+11,4.639027e+11,NaN
Australia,14,8831,8725,90765,15606,10.28,107,5.386000e+09,231.0,11.810810,1.021939e+12,1.060340e+12,1.099644e+12,1.119654e+12,1.142251e+12,1.169431e+12,1.211913e+12,1.241484e+12,1.272520e+12,1.301251e+12
Brazil,15,8668,8596,60702,14396,7.00,86,1.214900e+10,59.0,69.648030,1.845080e+12,1.957118e+12,2.056809e+12,2.054215e+12,2.208872e+12,2.295245e+12,2.339209e+12,2.409740e+12,2.412231e+12,2.319423e+12

In [105]:
def answer_eight():
    lst= answer_one()
    lst['Population'] = lst['Energy Supply']/lst['Energy Supply per Capita'] 
    population = lst['Population']
    lst['Citable per Capita'] = lst['Citable documents']/population
    corr=lst[['Citable per Capita', 'Energy Supply per Capita']].corr(method='pearson')
    return corr.values.tolist()[0][1]

0.7940010435442943

In [76]:
def answer_nine():
    lst=answer_one()
    median=lst['% Renewable'].median()
    HighRenew = lst[['Rank','% Renewable']].sort_values(by='Rank',ascending=True)
    HighRenew['HighRenew'] = HighRenew['% Renewable'].apply(lambda x: x>=median).astype(int)
    return HighRenew['HighRenew']
answer_nine()

Country
China                 1
United States         0
Japan                 0
United Kingdom        0
Russian Federation    1
Canada                1
Germany               1
India                 0
France                1
South Korea           0
Italy                 1
Spain                 1
Iran                  0
Australia             0
Brazil                1
Name: HighRenew, dtype: int64

In [123]:
def answer_eleven():
    ContinentDict  = {'China':'Asia', 
                      'United States':'North America', 
                      'Japan':'Asia', 
                      'United Kingdom':'Europe', 
                      'Russian Federation':'Europe', 
                      'Canada':'North America', 
                      'Germany':'Europe', 
                      'India':'Asia',
                      'France':'Europe', 
                      'South Korea':'Asia', 
                      'Italy':'Europe', 
                      'Spain':'Europe', 
                      'Iran':'Asia',
                      'Australia':'Australia', 
                      'Brazil':'South America'}
    lst=answer_one().reset_index()
    lst['Continent']=lst['Country'].map(ContinentDict)
    lst['Population'] = lst['Energy Supply']/lst['Energy Supply per Capita'] 
    population = lst['Population']

    result = (lst[['Continent', 'Population']])
    result=result.groupby('Continent')['Population'].agg(['size', 'sum','mean','std'])
    return result
answer_eleven()

               size           sum          mean           std
Continent
Asia              5  2.898666e+09  5.797333e+08  6.790979e+08
Australia         1  2.331602e+07  2.331602e+07           NaN
Europe            6  4.579297e+08  7.632161e+07  3.464767e+07
North America     2  3.528552e+08  1.764276e+08  1.996696e+08
South America     1  2.059153e+08  2.059153e+08           NaN

In [124]:
def answer_eleven2():
    ContinentDict  = {'China':'Asia', 
                      'United States':'North America', 
                      'Japan':'Asia', 
                      'United Kingdom':'Europe', 
                      'Russian Federation':'Europe', 
                      'Canada':'North America', 
                      'Germany':'Europe', 
                      'India':'Asia',
                      'France':'Europe', 
                      'South Korea':'Asia', 
                      'Italy':'Europe', 
                      'Spain':'Europe', 
                      'Iran':'Asia',
                      'Australia':'Australia', 
                      'Brazil':'South America'}
    lst=answer_one().reset_index()
    lst['Continent']=lst['Country'].map(ContinentDict)
    lst['Population'] = lst['Energy Supply']/lst['Energy Supply per Capita'] 
    population = lst['Population']

    result = (lst[['Continent', 'Population']])
    result=result.groupby('Continent')['Population'].agg({'size': np.size, 'sum': np.sum, 'mean': np.mean, 'std': np.std})
    return result
answer_eleven2()

               size           sum          mean           std
Continent
Asia            5.0  2.898666e+09  5.797333e+08  6.790979e+08
Australia       1.0  2.331602e+07  2.331602e+07           NaN
Europe          6.0  4.579297e+08  7.632161e+07  3.464767e+07
North America   2.0  3.528552e+08  1.764276e+08  1.996696e+08
South America   1.0  2.059153e+08  2.059153e+08           NaN

In [ ]:
def answer_thirteen():
    lst = answer_one()
    
    lst['PopEst'] = lst['Energy Supply'] / lst['Energy Supply per Capita']
    
    result = lst['PopEst'].apply('{:,}'.format)
    return result
answer_thirteen()

In [115]:
    ContinentDict  = {'China':'Asia', 
                      'United States':'North America', 
                      'Japan':'Asia', 
                      'United Kingdom':'Europe', 
                      'Russian Federation':'Europe', 
                      'Canada':'North America', 
                      'Germany':'Europe', 
                      'India':'Asia',
                      'France':'Europe', 
                      'South Korea':'Asia', 
                      'Italy':'Europe', 
                      'Spain':'Europe', 
                      'Iran':'Asia',
                      'Australia':'Australia', 
                      'Brazil':'South America'}
    Top15=answer_one().reset_index()
    Top15['Continent']=Top15['Country'].map(ContinentDict)

    Top15['% Renewable'] = pd.cut(Top15['% Renewable'], 5)
    df = Top15.groupby(['Continent', '% Renewable'])['Country'].count()
    
    df = df.reset_index()
    df = df.set_index(['Continent', '% Renewable'])

(Country
 China                 19.754910
 United States         11.570980
 Japan                 10.232820
 United Kingdom        10.600470
 Russian Federation    17.288680
 Canada                61.945430
 Germany               17.901530
 India                 14.969080
 France                17.020280
 South Korea            2.279353
 Italy                 33.667230
 Spain                 37.968590
 Iran                   5.707721
 Australia             11.810810
 Brazil                69.648030
 Name: % Renewable, dtype: float64, Country
 China                 1,367,645,161.2903225
 United States          317,615,384.61538464
 Japan                  127,409,395.97315437
 United Kingdom         63,870,967.741935484
 Russian Federation            143,500,000.0
 Canada                  35,239,864.86486486
 Germany                 80,369,696.96969697
 India                 1,276,730,769.2307692
 France                  63,837,349.39759036
 South Korea            49,805,429.864253394
 Italy                  59,908,256.880733944
 Spain                    46,443,396.2264151
 Iran                    77,075,630.25210084
 Australia              23,316,017.316017315
 Brazil                 205,915,254.23728815
 Name: PopEst, dtype: object)