In [1]:
import pandas as pd
import re

In [82]:
import pandas as pd
import re

def proportion_of_education():
    df=pd.read_csv("assets/NISPUF17.csv",index_col=0)
    df.dropna()
    lessthan=[]
    highschool=[]
    morethan=[]
    college=[]
    length=len(df['EDUC1'])
    for item in df['EDUC1']:
        if item==1:
            lessthan.append(item)
        elif item ==2:
            highschool.append(item)
        elif item ==3:
            morethan.append(item)
        else:
            college.append(item)
    lessthan=(len(lessthan)/length)
    highschool=(len(highschool)/length)
    morethan=(len(morethan)/length)
    college=(len(college)/length)
    proportion=['less than high school',
                'high school',
                'more than high school but not college',
                'college']
    value=[lessthan,highschool,morethan,college]
    dictionary = dict(zip(proportion, value))
    return dictionary
proportion_of_education()

{'less than high school': 0.10202002459160373,
 'high school': 0.172352011241876,
 'more than high school but not college': 0.24588090637625154,
 'college': 0.47974705779026877}

In [84]:
import numpy as np
import pandas as pd

df = pd.read_csv("assets/NISPUF17.csv", index_col=0)
df = df[['CBF_01', 'P_NUMFLU']].copy()
df.dropna(inplace=True)

BFY = (df['CBF_01'].eq(1))
BFN = (df['CBF_01'].eq(2))
BFNN = (df['CBF_01'].eq(3))
BFNNN = (df['CBF_01'].eq(4))

dfBFY = pd.concat([BFY, df['P_NUMFLU']], axis=1).reindex(BFY.index)
dfBFY = dfBFY[dfBFY['CBF_01'] == True]
result_bf=(dfBFY['P_NUMFLU'].sum()/len(dfBFY))
dfBFN = pd.concat([BFN, df['P_NUMFLU']], axis=1).reindex(BFN.index)
dfBFN = dfBFN[dfBFN['CBF_01'] == True]
result_nobf=(dfBFN['P_NUMFLU'].sum()/len(dfBFN))
result=result_bf,result_nobf

In [85]:
result

(1.8799187420058687, 1.5963945918878317)

In [141]:
import numpy as np
import pandas as pd

df = pd.read_csv("assets/NISPUF17.csv", index_col=0)
df=df[["SEX","HAD_CPOX","P_NUMVRC"]].dropna()
df=df[df['HAD_CPOX'].eq(1)|df['HAD_CPOX'].eq(2)]
male=df[df['SEX'].eq(1)]
female=df[df['SEX'].eq(2)]
x1=male["HAD_CPOX"].eq(1)&male["P_NUMVRC"].ge(1)
x2=male["HAD_CPOX"].eq(2)&male["P_NUMVRC"].ge(1)
y1=female["HAD_CPOX"].eq(1)&female["P_NUMVRC"].ge(1)
y2=female["HAD_CPOX"].eq(2)&female["P_NUMVRC"].ge(1)
result_male= x1.sum()/x2.sum()
result_female= y1.sum()/y2.sum()
{'male':result_male,
'female':result_female}

In [145]:
import numpy as np
import pandas as pd

df = pd.read_csv("assets/NISPUF17.csv", index_col=0)
df=df[["HAD_CPOX","P_NUMVRC"]].dropna()

#pd.to_numeric()

{'male': 0.009675583380762664, 'female': 0.0077918259335489565}

In [7]:
def corr_chickenpox():
    import scipy.stats as stats
    import numpy as np
    import pandas as pd

    df = pd.read_csv("assets/NISPUF17.csv", index_col=0)
    df=df[["HAD_CPOX","P_NUMVRC"]].dropna()
    df=df[df['HAD_CPOX'].eq(1)|df['HAD_CPOX'].eq(2)]
    #df.sort_index(inplace=True)
    corr, pval=stats.pearsonr(df["HAD_CPOX"],df["P_NUMVRC"])
    

    
    return df

In [6]:
corr_chickenpox()

       HAD_CPOX  P_NUMVRC
4             2       1.0
5             2       0.0
7             2       1.0
8             2       0.0
9             1       0.0
...         ...       ...
28447         2       1.0
28448         2       1.0
28450         2       1.0
28453         2       1.0
28455         2       1.0

[15286 rows x 2 columns]

In [ ]:
import scipy.stats as stats
import numpy as np
import pandas as pd

df = pd.read_csv("assets/NISPUF17.csv", index_col=0)
df=df[["HAD_CPOX","P_NUMVRC"]].dropna()
df=df[df['HAD_CPOX'].eq(1)|df['HAD_CPOX'].eq(2)]

In [8]:
corr_chickenpox()

       HAD_CPOX  P_NUMVRC
4             2       1.0
5             2       0.0
7             2       1.0
8             2       0.0
9             1       0.0
...         ...       ...
28447         2       1.0
28448         2       1.0
28450         2       1.0
28453         2       1.0
28455         2       1.0

[15286 rows x 2 columns]

In [53]:
S = S.rename(mapper = lambda x: x.upper(), axis = 'column')

In [64]:
import pandas as pd
s1 = pd.Series({1: 'Alice', 2: 'Jack', 3: 'Molly'})
s2 = pd.Series({'Alice': 1, 'Jack': 2, 'Molly': 3})